
<!DOCTYPE html>
<html>
<head>
    <title>HTML Demo</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/theme.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Mukul Nagpal</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
                <li class="nav-item active"><a class="nav-link" href="/htmlDemo">Html Demo</a></li>
                <li class="nav-item"><a class="nav-link" href="/students/add">Add Student</a></li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="/students">Students</a></li>
                <li class="nav-item"><a class="nav-link" href="/tas">Teaching Assistants</a></li>
                <li class="nav-item"><a class="nav-link" href="/courses">Courses</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <main class="col-md-12">
                <!-- Start your code here -->
                
                <!-- Tables Section -->
                <h2><br><br>Tables</h2>
                <table class="table table-bordered">
                    <caption>Department Table</caption>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Department</th>
                            <th>Salary</th>
                        </tr>
                    </thead>
                    <tbody>
                       
                        <tr>
                            <td>Mukul</td>
                            <td>IT</td>
                            <td>35000</td>
                        </tr>
                        <tr>
                            <td>Sachin</td>
                            <td>Business</td>
                            <td>22000</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="2">Total Salary</td>
                            <td>57000</td>
                        </tr>
                    </tfoot>
                </table>

                <table class="table table-bordered">
                    <caption>Population Table</caption>
                    <thead>
                        <tr>
                            <th>Country</th>
                            <th>City</th>
                            <th>Population (in millions)</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        <tr>
                            <td>India</td>
                            <td>Delhi</td>
                            <td>25</td>
                        </tr>
                        <tr>
                            <td rowspan="2">Canada</td>
                            <td>Brampton</td>
                            <td>0.6</td>
                        </tr>
                        <tr>
                            <td>Markham</td>
                            <td>0.3</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="2">Total Population</td>
                            <td>25.9</td>
                        </tr>
                    </tfoot>
                </table>

                <p>The above section has 2 tables. One is departments table which shows 2 employees working in different department and their salary alongside. The second table tells us about the population of certain cities in 2 different countries and the total population as well.</p>
                
                <!-- Lists Section -->
                <h2>Lists</h2>
                <ol>
                    <li>Pen</li>
                    <li>Eraser</li>
                    <li>Pencil
                        <ul>
                            <li>Apsara</li>
                            <li>Nataraj</li>
                            <li>Doms</li>
                        </ul>
                    </li>
                    <li>Sharpener</li>
                    <li>Scale</li>
                </ol>
                <p>The above section gives a brief about the lists. The list includes some stationary objects such as pencil, pen, scale, etc and the pencil list is subdivided into different kind of pencils. </p>
                
                <!-- Images Section -->
                <h2>Images</h2>
                <img src="https://upload.wikimedia.org/wikipedia/commons/6/69/Snowboarder_in_halfpipe.jpg" alt="Snowboarder">
                <img src="https://upload.wikimedia.org/wikipedia/commons/4/47/PNG_transparency_demonstration_1.png" alt="PNG Transparency">
                <p>The section includes some images The purpose of this is to showcase how inserting an image in HTML works..</p>
                
                <!-- Audio Section -->
                <h2>Audio</h2>
                <audio controls>
                    <source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-audio.mp3" type="audio/mpeg">
                    <source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-audio.ogg" type="audio/ogg">
                    Your browser does not support the audio element.
                </audio>
                <p>This section includes an HTML5 audio player with multiple source formats to ensure compatibility across different browsers.</p>
                
                <!-- Video Section -->
                <h2>Video</h2>
                <video controls width="600">
                    <source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.mp4" type="video/mp4">
                    <source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.ogg" type="video/ogg">
                    <source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.webm" type="video/webm">
                    Your browser does not support the video tag.
                </video>
                <p>This section includes an HTML5 video player with multiple source formats to ensure compatibility across different browsers. It has a video related to revolving globe.</p>
                
                <!-- End your code here -->
            </main>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
